sudo: false
language: python
python:
  - "2.6"
  - "2.7"
install:
  - "pip install ."
  - "pip install requests"
  - "pip install python-ctags"
script:
  - git config --global user.email "you@example.com"
  - git config --global user.name "Your Name"
  - ./runtests.sh
