{% extends 'skeleton.html' %}

{% block title %}
  {{ repo.name }} ({{ commit_id|shorten_sha1 }})
{% endblock %}

{% block breadcrumbs %}
  <span>
    <a href="{{ url_for('history', repo=repo.name) }}">{{ repo.name }}</a>
    <span class=slash>/</span>
    <a href="{{ url_for('history', repo=repo.name, commit_id=commit_id) }}">{{ commit_id|shorten_sha1 }}</a>
  </span>

  {% if subpaths %}
  <span>
    {% for name, subpath in subpaths %}
      {% if loop.last %}
      <a href="">{{ name|force_unicode }}</a>
      {% else %}
      <a href="{{ url_for('history', repo=repo.name, commit_id=commit_id, path=subpath) }}">{{ name|force_unicode }}</a>
      <span class=slash>/</span>
      {% endif %}
    {% endfor %}
  </span>
  {% endif %}
{% endblock %}

{% block extra_header %}
<div class=branch-selector>
  <span>{{ commit_id|shorten_sha1 }}</span>
  <ul>
    {% for branch in branches %}
    <li><a href="{{ url_for(view, repo=repo.name, commit_id=branch, path=path) }}">{{ branch }}</a></li>
    {% endfor %}
  </ul>
</div>
{% endblock %}
