{% extends 'base.html' %}
{% block content %}

{% include 'tree.inc.html' %}

{% set history = repo.history(branch, path.strip('/'), history_length+1, skip) %}
{% set has_more_commits = history|length == history_length+1 %}

{% macro pagination() %}
  <div class=pagination>
    {% if page %}
      {% for n in previous_pages %}
        {% if n is none %}
          <span class=n>...</span>
        {% else %}
          <a href="?page={{n}}" class=n>{{ n }}</a>
        {% endif %}
      {% endfor %}
    {% endif %}
    {% if has_more_commits %}
      <a href="?page={{page+1}}">»»</a>
    {% else %}
      <span>»»</span>
    {% endif%}
  </div>
  <div class=clearfloat></div>
{% endmacro %}

<div>
  <div class=history>
    <h2>
      {% if subpaths %}
        History for
        {% for name, subpath in subpaths %}
          {{ name }}
          {% if not loop.last %}
            <span class=slash>/</span>
          {% endif %}
        {% endfor %}
      {% else %}
        Commit History
      {% endif %}
      <span>
        @<a href="{{ build(view, commit_id=branch) }}">{{ branch }}</a>
      </span>
      {% if SMARTHTTP %}
          <code>> git clone {{ environ['wsgi.url_scheme'] ~ '://' ~ environ.HTTP_HOST
                               ~ environ.SCRIPT_NAME ~ repo.name ~ '/' }}</code>
      {% endif %}
    </h2>

    {{ pagination() }}

    <ul>
    {% for commit in history %}
    {% if not loop.last or history|length < history_length %}
      <li>
        <a class=commit href="{{ build('commit', commit_id=commit.id) }}">
          <span class=line1>
            <span>{{ commit.message|u|shorten_message }}</span>
          </span>
          <span class=line2>
            <span>{{ commit.author|u|shorten_author }}</span>
            <span>{{ commit.commit_time|timesince }} ago</span>
          </span>
          <span class=clearfloat></span>
        </a>
      </li>
      {% endif %}
    {% endfor %}
    </ul>
  </div>

  {{ pagination() }}

</div>

{% endblock %}
