{% extends 'skeleton.html' %}

{% block content %}
<div class=tree>
  <h2>Tree @{{ rev|shorten_sha1 }}
  <span>(<a href="{{ url_for('raw', repo=repo.name, rev=root_tree.sha1) }}">raw&nbsp;tree</a>)</span>
  </h2>
  <ul>
    {% for _, name, fullpath in root_tree.dirs %}
    <li><a href="{{ url_for('raw', repo=repo.name, rev=rev, path=fullpath) }}" class=dir>{{ name|force_unicode }}</a></li>
    {% endfor %}
    {% for _, name, fullpath in root_tree.files %}
    <li><a href="{{ url_for('raw', repo=repo.name, rev=rev, path=fullpath) }}">{{ name|force_unicode }}</a></li>
    {% endfor %}
  </ul>
</div>
{% endblock %}
