{% extends 'skeleton.html' %}
{% block content %}

<h2>
  Repositories
  <span>
    (<a href=?by-last-update=yep>order by last update</a>)
  </span>
</h2>
<ul class=repolist>
  {% for repo in repos %}
    <li>
      <a href="{{ url_for('history', repo=repo.name, commit_id=repo.get_default_branch(), path='') }}">
        <span class=name>{{ repo.name }}</span>
      <span class=last-updated>
        {% set last_updated_at = repo.get_last_updated_at() %}
        {% if last_updated_at is not none %}
        last updated {{ last_updated_at|timesince }} ago
        {% else %}
        no commits yet
        {% endif %}
      </span></a>
    </li>
  {% endfor %}
</ul>

{% endblock %}
