body { margin: 0; padding: 0; font-size: 11pt; }
pre { font-size: 10pt; }
a, a:visited { color: #003278; text-decoration: none; }
a:hover { text-decoration: underline; }
ul { list-style-type: none; padding-left: 0; }
table { border-spacing: 0; border-collapse: collapse; }

.clearfloat { clear: both; }

.linenos { color: #888; background-color: #f9f9f9; text-align: right; }

/* Header */
header { padding: 10px; border-bottom: 3px solid #e0e0e0; }
header a { padding: 10px 0; }
header .breadcrumbs > span:before { content: ' » '; color: #666; }
header .slash { color: #666; margin: 0 -3px; }

/* Footer */
footer {
  clear: both;
  font-size: 10pt;
  float: right;
  color: #666;
  padding: 50px 3px 3px 0;
}
footer a { color: inherit; border-bottom: 1px dotted #666; }
footer a:hover { text-decoration: none; }

/* Container */
#content { padding: 5px 1.5%; }
#content > div:nth-of-type(1),
#content > div:nth-of-type(2) { float: left; }
#content > div:nth-of-type(1) { width: 24%; }
#content > div:nth-of-type(2) {
  width: 73%;
  padding-left: 1.5%;
  margin-left: 1.5%;
  border-left: 1px dotted #ccc;
}

/* Pagination */
.pagination span { color: #666; }


/* Repo List */
.order-by-last-update { font-size: 11pt; }
.repolist { margin-left: 2em; font-size: 14pt; }
.repolist li { margin-bottom: 10px; }
.repolist li a { display: block; }
.repolist li a .last-updated {
  display: block;
  color: #737373;
  font-size: 10pt;
  margin-left: 1px;
}
.repolist li a:hover { text-decoration: none; }
.repolist li a:hover .name { text-decoration: underline; }

/* Tree View */
.commit {
  background-color: #f5f5f5;
  padding: 8px 10px;
  margin-bottom: 2px;
  display: block;
  border: 1px solid #e0e0e0;
}
.commit > span { display: block; }

.commit { color: black !important; }
.commit:hover { text-decoration: none; background-color: #f9f9f9; }
.commit:hover .line1 { text-decoration: underline; color: #aaa; }
.commit:hover .line1 span { color: black; }
.commit .line1 { font-family: monospace; font-size: 10pt; padding-bottom: 2px; }

.commit .line2 { position: relative; top: 3px; left: 1px; }
.commit .line2 > span:first-child { float: left; }
.commit .line2 > span:nth-child(2) { float: right; }
.commit .line2 { color: #737373; font-size: 12px; }

.tree ul { font-family: monospace; font-size: 10pt; }
.tree li { background-color: #f5f5f5; border: 1px solid #e0e0e0; }
.tree li a { padding: 5px 7px; display: block; color: #001533; }
.tree li a:hover { background-color: #f9f9f9; }
.tree li a:before, .diff .filename:before {
  margin-right: 5px;
  position: relative;
  top: 2px;
  opacity: 0.7;
  content: url(data:iamge/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAPCAYAAADUFP50AAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB9sGBhMmAbS/QqsAAAAdaVRYdENvbW1lbnQAAAAAAENyZWF0ZWQgd2l0aCBHSU1QZC5lBwAAANBJREFUKM+Vkj2OgzAQhb8HSLupkKiQD8DPWbZMkSMgLsF9IlLmMpiKA9CncraIQGbXIPGqsec9faOx1TTNwxhz5YT6vr8lxphr13Wc1D1Zqnmecc4BIGl1LLUk4jgmTVMA1qBzDmvtxuhLEnVdr+fEb5ZleUj0lfgGn/hXh8SiKAKEF+/3F1EUhYkA4zhumlVVARfgBXzvjxoiSkK6/Bt9Q7TWHi7lM8HOVsNE7RMlMQxDkLRs078LEkPh3XfMsuzUZ1Xbts88z3/OhKZpuv8CNeMsq6Yg8OoAAAAASUVORK5CYII=);
}
.tree li a.dir:before {
  content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAPCAYAAADtc08vAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB9sGBhMiMxgE1i8AAAAdaVRYdENvbW1lbnQAAAAAAENyZWF0ZWQgd2l0aCBHSU1QZC5lBwAAAYxJREFUKM+l0r1KXEEYxvH/bNS4K2RNCjsRBAlqITESI0QCuqBdWLwACSJaiZILiDcQkDRql8oUIqkkkRTRwiKVyvoRV5HFEFEX/DjomePsmfNauB4xrLAmD1PNML95eBnV0Fj/vjPRMcpfMcYAMP9jYXDzV3qSO1LSmegYfdvbV/DQ8zS+709oVzu7u78/FwQAHOeU9Y31gsjz5hYcx5lqbXsxdb23ld4eW15aGQmBaDRGZfzxXS1JvukBQCmFUoqZL9PDIWCMQWuX76tnpLIxisqjJC39SXmoM5thg1Q2xsd3XXjGFmWUlz1g6MPc0xIArV0A9o89dg7PiwJqqyoAiHieRzRaZPUCibiuGzb4J+B6Bv8F3LeBtQFeznLrH5RGAgQQEZRSiAgiEIhgrZCzAcYXLnxLzgrxirIbQGuXmvgFR2eGP0caRBEg5BciIAgieRjwrdwAB9lDnrW9Yjlzkr909boIBAiCApGwVWvdE+a+fkOvzX5STd0D86XV7a/vOzy7t/hzaXb85SVDycBfkNNgmgAAAABJRU5ErkJggg==);
}


/* Blob View */
.blobview h2 span { font-size: 11pt; }
.blobview table {
  background-color: #fefefe;
  border: 1px solid #e0e0e0;
}
.blobview .linenos {
  padding: 0 6px 0 6px;
  border: 1px solid #e0e0e0;
}
.blobview .code { padding: 0 5px 0 10px; }


/* Commit View */
.full-commit { width: 100% !important; margin-top: 10px; }

.full-commit .commit { padding: 15px 20px; }
.full-commit .commit .line1 { padding-bottom: 5px; }
.full-commit .commit:hover { background-color: #f5f5f5; }
.full-commit .commit:hover .line1 { text-decoration: none; }
.full-commit .commit .line2 > span:nth-child(2) { float: left; }
.full-commit .commit .line2 > span:nth-child(2):before { content: '·'; margin: 0 3px 0 5px; }

.diff { font-family: monospace; font-size: 10pt; }
.diff .filename {
  background-color: #f9f9f9;
  padding: 8px 10px;
  font-size: 14px;
  border: 1px solid #e0e0e0;
  border-bottom: 0;
  margin-top: 25px;
}
.diff .filename:before { margin-right: 0; opacity: 0.3; }
.diff table {
  border: 1px solid #e0e0e0;
  background-color: #fefefe;
  width: 100%;
}
.diff td {
  padding-left: 10px;
  padding-right: 10px;
  border-left: 1px solid #e0e0e0;
}
.diff td + td + td { width: 100%; white-space: pre; }
.diff tr:hover > td { background-color: #fefed0; }
.diff tr:first-of-type td { padding-top: 7px; }
.diff tr:last-of-type td { padding-bottom: 7px; }
.diff .del { background-color: #ffdddd; }
.diff .add { background-color: #ddffdd; }
.diff del { background-color: #ee9999; text-decoration: none; }
.diff ins { background-color: #99ee99; text-decoration: none; }
.diff .linenos {
  padding-left: 5px;
  padding-right: 5px;
  font-size: 11px;
}
.diff .sep > td {
  height: 1.5em;
  background-color: #f9f9f9;
  text-align: center;
  border: 1px solid #e0e0e0;
}
.diff .sep:hover > td { background-color: #f9f9f9; }
