{% extends 'skeleton.html' %}

{% block breadcrumbs %}
  <span>
    <a href="{{ build_url('history', commit_id='master') }}">{{ repo.name }}</a>
    <span class=slash>/</span>
    <a href="{{ build_url('history') }}">{{ commit_id }}</a>
  </span>

  {% if subpaths %}
  <span>
    {% for name, subpath in subpaths %}
      {% if loop.last %}
      <a href="">{{ name|u }}</a>
      {% else %}
      <a href="{{ build_url('history', path=subpath) }}">{{ name|u }}</a>
      <span class=slash>/</span>
      {% endif %}
    {% endfor %}
  </span>
  {% endif %}
{% endblock %}

{% block extra_header %}
<div class=branch-selector>
  <span>{{ commit_id }}</span>
  <ul>
    {% for branch in branches %}
    <li><a href="{{ build_url(commit_id=branch, path=path) }}">{{ branch }}</a></li>
    {% endfor %}
  </ul>
</div>
{% endblock %}
