{% macro history(repo, branch, path, max_length, skip=0) %}
<div class=history>
  <h2>History of
    <a href="{{ build_url('view_tree', repo=repo.name, commit_id=branch, path='') }}">
      {{ repo.name }}/{{ branch }}</a>
  </h2>
  {% set history = repo.history(branch, path, max_length+1, skip) %}
  <ul>
  {% for commit in history %}
  {% if not loop.last or history|length < max_length %}
    <li>
      <a class=commit href="{{ build_url('view_commit', repo=repo.name, commit_id=commit.id) }}">
        <span class=line1>
          <span>{{ commit.message|u|shorten_message }}</span>
        </span>
        <span class=line2>
          <span>{{ commit.author|u|shorten_author }}</span>
          <span>{{ commit.commit_time|timesince }} ago</span>
        </span>
        <span class=clearfloat></span>
      </a>
    </li>
    {% endif %}
  {% endfor %}
  </ul>
  {% if caller %}{{ caller(history|length == max_length+1) }}{% endif %}
</div>
{% endmacro %}
