{% set title = 'History of ' + title %}
{% extends 'base.html' %}
{% block content %}

{% from 'history.inc.html' import history %}
{% call(have_more_commits) history(repo, path, max_length=30, skip=30*page) %}
  <div class=pagination>
    {% if page %}
      <a href="{{ urls.prev }}">« newer</a>
    {% else %}
      <a href=# class=inactive>« newer</a>
    {% endif %}
    {% if have_more_commits %}
      <a href="{{ urls.next }}">» older</a>
    {% else %}
      <a href=# class=inactive>» older</a>
    {% endif%}
  </div>
{% endcall %}

{% endblock %}
