{% extends 'base.html' %}
{% block content %}

{% include 'tree.inc.html' %}

<div>
  {% from 'history.inc.html' import history %}
  {% call(have_more_commits) history(repo, branch, path, subpaths, max_length=history_length, skip=skip) %}
    <div class=pagination>
      {% if page %}
        <a href="?page={{page-1}}">« newer</a>
      {% else %}
        <span>« newer</span>
      {% endif %}
      {% if have_more_commits %}
        <a href="?page={{page+1}}">older »</a>
      {% else %}
        <span>older »</span>
      {% endif%}
    </div>
  {% endcall %}
 </div>

{% endblock %}
