{% macro history(repo, path, max_length, skip=0) %}
<div class=history>
  {% set history = repo.history(max_commits=max_length+1, path=path, skip=skip) %}
  <ul>
  {% for commit in history %}
  {% if not loop.last or history|length < max_length %}
    <li>
      <span class=id>
        <a href="{{ build_url('view_commit', repo=repo.name, commit_id=commit.id) }}">
          {{ commit.id|shorten_id }}
        </a>
      </span>
      <span class=message>{{ commit.message.decode('utf-8')|shorten_message }}</span>
      <span class=datetime>{{ commit.commit_time|timesince }} ago</span>
    </li>
    {% endif %}
  {% endfor %}
  </ul>
  {% if caller %}{{ caller(history|length == max_length+1) }}{% endif %}
</div>
{% endmacro %}
