<div class=tree>
  <h2>Tree @<a href="{{ build_url('view_commit', repo=repo.name, commit_id=commit_id) }}">{{ commit_id|shorten_id }}</a></h2>
  <ul>
    {% for _, name, fullpath in tree.dirs %}
    <li><a href="{{ build_url('view_tree', repo=repo.name, commit_id=commit_id, path=fullpath) }}" class=dir>{{ name|u }}</a></li>
    {% endfor %}
    {% for _, name, fullpath in tree.files %}
    <li><a href="{{ build_url('view_blob', repo=repo.name, commit_id=commit_id, path=fullpath) }}">{{ name|u }}</a></li>
    {% endfor %}
  </ul>
</div>
