{% set title = 'Commit %s to %s' % (commit.id, repo.name) %}
{% extends 'base.html' %}

{% block h1 %}
  Commit "{{commit.message.decode('utf-8')|shorten_message}}" to
  <a href="{{ build_url('view_repo', repo=repo.name) }}">{{ repo.name }}</a>
{% endblock %}

{% block content %}

<div class=commit>
  <div class=meta>
    <span class=id>{{ commit.id|shorten_id }}</span>
    <span class=message>{{ commit.message.decode('utf-8') }}</span>
    <span class=datetime>{{ commit.commit_time|timesince }} ago</span>
  </div>
  <div class=changes>
    {{ repo.commit_diff(commit)|pygmentize('udiff') }}
  </div>
</div>

{% endblock %}
