{% extends 'base.html' %}
{% block content %}

{% include 'tree.inc.html' %}

<div class=blobview>
  <h2>
    {{ filename|u }}
    <span>
      @<a href="{{ build_url('view_commit') }}">{{ commit_id|shorten_id }}</a>
      (<a href="{{ raw_url }}">raw</a>
      &middot; <a href="{{ build_url('history', path=path) }}">history</a>)
    </span>
  </h2>
  {% if blob.chunked|is_binary %}
    {% if filename|is_image %}
      <a href="{{ raw_url }}"><img src="{{ raw_url }}"></a>
    {% else %}
      <div class=binary-warning>(Binary data not shown)</div>
    {% endif %}
  {% else %}
    {% if too_large %}
      <div class=too-large-warning>(Large file not shown)</div>
    {% else %}
      {% autoescape off %}
        {{ blob.data|u|pygmentize(filename=filename) }}
      {% endautoescape %}
    {% endif %}
  {% endif %}
</div>

{% endblock %}
