{% set title = repo.name %}
{% extends 'base.html' %}
{% block content %}

<ul class=history>
{% for commit in repo.history(max_commits=10) %}
  <li>
    <span class=id>
      <a href="{{ build_url('view_commit', repo=repo.name, id=commit.id) }}">
        {{ commit.id|shorten_id }}
      </a>
    </span>
    <span class=message>{{ commit.message.decode('utf-8') }}</span>
    <span class=datetime>{{ commit.commit_time|timesince }} ago</span>
  </li>
{% endfor %}
</ul>

<ul class=tree>
{% for file in repo.listdir() %}
  <li>{{ file }}</li>
{% endfor %}
</ul>

{% endblock %}
